/*背景*/
.bg-all {
  z-index: -999;
  position: absolute;
  top: calc(0px + 0px);
  left: 0;
  width: 100%;
  height: calc(100% - 0px);
  transition: .25s;
}

#bg {
  transform: scale(1.10);
  filter: blur(10px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s, transform .25s, filter .25s;
  backface-visibility: hidden;
  transform: scale(1);
  filter: blur(1px);
  transition: 1.5s;
}

img.error {
  display: none;
}

.cover {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, .3) 166%);
  transition: .25s;
  opacity: 1;
  transition: 1.5s;
}

.play-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin-top: -150px;
  margin-left: -100px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

