@charset "UTF-8";

:root {
  --heo-white: #fff;
  --heo-white-op: rgba(255, 255, 255, 0.2);
  --heo-black: #000;
  --heo-black-op: rgba(0, 0, 0, 0.2);
  --heo-none: #00000000;
  --heo-gray: #999999;
  --heo-gray-op: #9999992b;
  --heo-vip: #e5a80d;
  --heo-main: var(--heo-theme);
  --heo-main-op: var(--heo-theme-op);
  --heo-main-op-deep: var(--heo-theme-op-deep);
  --heo-main-none: var(--heo-theme-none);
  --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
  --heo-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
  --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
  --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
  --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
  --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
  --heo-shadow-green: 0 8px 12px -3px #87ee7936;
  --heo-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --heo-snackbar-time: 5s;
}

#page {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}

body {
  background: rgb(13, 13, 13);
  position: relative;
  overflow: hidden;
}

#heoMusic-page .aplayer{
  display: flex;
  flex-direction: row-reverse;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  justify-content: space-between;
}

#page {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}
#music_bg {
  display: none;
  position: fixed;
  z-index: -999;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-position: 0 0;
  rotate: 0;
  background-size: 40%;
  transition: 0.6s;
  background-image: url(../img/cover.webp);
}

#music_bg::before {
  content: '';
  transform: translateZ(0);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  transform: translateZ(0);
  position: fixed;
  z-index: -998;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

body #music_bg{
  display: block;
}

body {
  background: rgb(13, 13, 13);
}

#heoMusic-page {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  margin-top: 60px;
  padding: 0.2rem 1.5rem;
}

#heoMusic-page .aplayer {
  display: flex;
  flex-direction: row-reverse;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#heoMusic-page.localMusic {
  display: flex;
  flex-direction: row-reverse;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  justify-content: space-between;
}

body #web_bg {
  filter: blur(63px);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
}
body #footer,
body #nav-music {
  display: none;
}

#heoMusic-page .aplayer-body {
  width: 40%;
  height: 75vh;
}

#heoMusic-page ol > li:hover {
  background: var(--heo-black-op);
  border-radius: 6px;
}
#heoMusic-page .aplayer-pic {
  float: none;
  width: 180px;
  height: 180px;
  border-radius: 12px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}

#heoMusic-page .aplayer-info {
  margin: 0 20px 0 20px;
  border-bottom: none;
}

#heoMusic-page .aplayer-info .aplayer-music {
  text-align: center;
  height: auto;
  margin: 15px;
}

#heoMusic-page .aplayer-info .aplayer-music .aplayer-author,
#heoMusic-page .aplayer-info .aplayer-music .aplayer-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

#heoMusic-page .aplayer-info .aplayer-lrc {
  height: var(--vh);
  mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
}

#heoMusic-page .aplayer-info .aplayer-lrc p {
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  filter: blur(0px); /*歌词字体模糊参数*/
  opacity: 0.3;
  transition: all 0.9s cubic-bezier(0.56, 0.17, 0.22, 0.76);
  user-select:none;
  text-shadow: 0px 2px 0px #ffffff00;
}
#heoMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
  filter: blur(0px);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.56, 0.17, 0.22, 0.76), text-shadow 8s 4s ease-in;
  height: fit-content;
  text-shadow: 0px 2px 16px #ffffff94;
}

#heoMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current:first-child {
  text-shadow: 0px 2px 16px #ffffff00;
}

@media screen and (min-width: 768px) {
  #heoMusic-page .aplayer-info .aplayer-lrc:hover p {
    filter: blur(0px);
  }
}

#heoMusic-page .aplayer .aplayer-lrc:after,
#heoMusic-page .aplayer .aplayer-lrc:before {
  display: none;
}

.aplayer .aplayer-lrc .aplayer-lrc-contents {
  width: 90%;
  margin-left: auto;
  transition: all .5s cubic-bezier(0.49, 0.21, 0.22, 0.84);
  position: relative;
}

@media screen and (max-width: 768px) {
  .aplayer .aplayer-lrc .aplayer-lrc-contents {
    width: 100%;
  }
}

/* 控制器 */
#heoMusic-page .aplayer-info .aplayer-controller {
  position: fixed;
  max-width: 1600px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  align-items: center;
}
#heoMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  margin: 0 190px 0 150px;
}
#heoMusic-page .aplayer-info .aplayer-controller .aplayer-played {
  background: var(--heo-white) !important;
}
#heoMusic-page .aplayer-info .aplayer-controller .aplayer-thumb {
  -webkit-transform: none;
  transform: none;
  background: #fff !important;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-back,
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward,
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
  display: inline;
  position: fixed;
}
#heoMusic-page .aplayer-info .aplayer-time {
  position: absolute;
  width: 100%;
  bottom: 24px;
  height: 0;
  display: flex;
  justify-content: flex-end;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
  margin-right: 18px;
  margin-top: -8px;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
  position: absolute;
  left: 0;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
  position: absolute;
  left: 40px;
}
#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
  position: absolute;
  left: 80px;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 15px;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon::before {
  content: '';
  position: absolute;
  padding: 8px;
  top: -6px;
  width: 8px;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
  display: none;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-loop {
  display: inline;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-lrc {
  display: inline;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon-order {
  display: inline;
}

#heoMusic-page .aplayer-info .aplayer-time .aplayer-icon path {
  fill: var(--heo-white);
  opacity: 0.8;
}

#heoMusic-page .aplayer-list {
  width: 60%;
  max-height: none !important;
  height: 100%;
}

#heoMusic-page ol {
  max-height: calc(var(--vh) - 170px)!important;
}
 
#heoMusic-page ol::-webkit-scrollbar-thumb {
  background-color: var(--heo-white-op);
}


#heoMusic-page ol > li {
  font-size: 14px;
  opacity: 0.6;
}
#heoMusic-page ol > li.aplayer-list-light {
  background: var(--heo-black-op);
  border-radius: 6px;
  height: 60px;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

#heoMusic-page ol > li.aplayer-list-light .aplayer-list-index {
  display: none;
}

#heoMusic-page ol > li.aplayer-list-light .aplayer-list-title {
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
  font-weight: bold;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#heoMusic-page ol > li span {
  color: var(--heo-white);
}

#heoMusic-page ol > li.aplayer-list-light .aplayer-list-cur {
  display: none;
}
#heoMusic-page ol > li span.aplayer-list-title {
  line-height: 32px;
}

#heoMusic-page ol > li .aplayer-list-index {
  line-height: 32px;
}

#heoMusic-page ol > li span.aplayer-list-author {
  opacity: 0.6;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width: 40%;
  line-height: 32px;
}

#heoMusic-page ol > li.aplayer-list-light span.aplayer-list-author {
  max-width: 100%;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  height: 8px;
  border-radius: 8px;
  background: var(--heo-white-op);
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  background: var(--heo-white-op);
  height: 8px;
  border-radius: 8px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  height: 8px;
  border-radius: 8px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  height: 16px;
  width: 16px;
}

/* 导航栏 */
.page #nav {
  backdrop-filter: none !important;
  background: 0 0 !important;
  border-bottom: none !important;
}

.page #page-header.not-top-img #nav a,
.page #page-header #nav .back-home-button {
  color: var(--heo-white);
}

body .s-sticker div {
  color: var(--heo-white) !important;
}

body .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-loop {
  margin-right: 7px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: var(--heo-white);
}

[data-theme="dark"] .page #page-header:before {
  background-color: transparent;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap:hover .aplayer-volume-bar-wrap {
  height: 120px;
  border-radius: 40px;
  width: 30px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap {
  width: 30px;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar {
  width: 100%;
  height: 100%;
  left: 0;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar .aplayer-volume {
  width: 100%;
  background: var(--heo-white)!important;
}